{% extends 'base.html' %}

{% block title %}Today Proje Gayrimenkul | Reklam & Gayrimenkul Danışmanlık{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="traveltour-page-wrapper" id="traveltour-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper " style="padding: 165px 0px 165px 0px;" data-skin="orange">
            <div class="gdlr-core-pbf-background-wrap">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(images/bgtravel.jpg) ;background-size: cover ;background-position: top center ;" data-parallax-speed="0.2"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 50px ;">
                            <div class="gdlr-core-title-item-title-wrap">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 52px ;text-transform: none ;color: #ffffff ;">{{ get_text('investment_advisor') }}<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div><span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 21px ;font-style: normal ;color: #ffffff ;margin-top: 5px ;">{{ get_text('help_evaluate_investments') }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="margin-top: -40px;margin-right: auto;margin-left: auto;padding: 50px 20px 0px 30px;max-width: 1200px ;">
            <div class="gdlr-core-pbf-background-wrap" style="border-radius: 3px 3px 3px 3px;-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;background-color: #f97251 ;background: linear-gradient(rgba(249, 114, 81, 1), rgba(255, 152, 108, 1));-moz-background: linear-gradient(rgba(249, 114, 81, 1), rgba(255, 152, 108, 1));-o-background: linear-gradient(rgba(249, 114, 81, 1), rgba(255, 152, 108, 1));-webkit-background: linear-gradient(rgba(249, 114, 81, 1), rgba(255, 152, 108, 1));"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class=" gdlr-core-pbf-wrapper-container-inner gdlr-core-item-mglr clearfix">
                        <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first" data-skin="White Text">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                            <div class="gdlr-core-column-service-media gdlr-core-media-image"><img src="images/indexicon1.png" alt="" width="59" height="59" title="tvicon1.1" /></div>
                                            <div class="gdlr-core-column-service-content-wrapper">
                                                <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 10px ;">
                                                    <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="font-size: 13px ;letter-spacing: 2px ;">{{ get_text('real_estate_consulting') }}</h3></div>
                                                <div class="gdlr-core-column-service-content" style="text-transform: none ;">
                                                    <p>{{ get_text('help_evaluate_investments') }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="White Text">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                            <div class="gdlr-core-column-service-media gdlr-core-media-image"><img src="images/indexicon2.png" alt="" width="48" height="50" title="tvicon2.1" /></div>
                                            <div class="gdlr-core-column-service-content-wrapper">
                                                <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 10px ;">
                                                    <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="font-size: 13px ;letter-spacing: 2px ;">{{ get_text('suitable_consulting') }}</h3></div>
                                                <div class="gdlr-core-column-service-content" style="text-transform: none ;">
                                                    <p>{{ get_text('suitable_consulting_desc') }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="White Text">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                            <div class="gdlr-core-column-service-media gdlr-core-media-image"><img src="images/indexicon3.png" alt="" width="51" height="51" title="tvicon3" /></div>
                                            <div class="gdlr-core-column-service-content-wrapper">
                                                <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 10px ;">
                                                    <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="font-size: 13px ;letter-spacing: 2px ;">{{ get_text('quick_support') }}</h3></div>
                                                <div class="gdlr-core-column-service-content" style="text-transform: none ;">
                                                    <p>{{ get_text('quick_support_desc') }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 50px 0px 60px 0px;">
            <div class="gdlr-core-pbf-background-wrap">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(images/title-bg-popular-3.jpg) ;background-repeat: no-repeat ;background-position: top center ;" data-parallax-speed="0.05"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 0px ;">
                            <div class="gdlr-core-title-item-title-wrap">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 28px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;">{{ get_text('popular_ads') }}<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" style="padding-bottom: 52px ;"><a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-button-no-border" href="{{ url_for('ilanlar') }}" style="font-size: 15px ;font-weight: 400 ;letter-spacing: 0px ;color: #e66836 ;padding: 8px 0px 0px 0px;"><span class="gdlr-core-content" >{{ get_text('view_all') }}</span><i class="gdlr-core-pos-right fa fa-long-arrow-right" style="font-size: 17px ;"  ></i></a></div>
                    </div>
                    <div class="gdlr-core-pbf-element">
                        <div class="tourmaster-tour-item clearfix  tourmaster-tour-item-style-grid tourmaster-item-pdlr tourmaster-tour-item-column-3">
                            <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type="carousel" data-column="3" data-nav="navigation-outer" data-nav-parent="tourmaster-tour-item" data-disable-autoslide="1">
                                <ul class="slides">
                                    {% for ad in popular_ads %}
                                    <li class="gdlr-core-item-mglr">
                                        <div class="tourmaster-tour-grid  tourmaster-tour-frame tourmaster-tour-grid-style-2 tourmaster-price-right-title">
                                            <div class="tourmaster-tour-grid-inner" style="box-shadow: 0 0 23px rgba(10, 10, 10,0.08); -moz-box-shadow: 0 0 23px rgba(10, 10, 10,0.08); -webkit-box-shadow: 0 0 23px rgba(10, 10, 10,0.08); border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;">
                                                <div class="tourmaster-tour-thumbnail tourmaster-media-image tourmaster-zoom-on-hover">
                                                    <a href="{{ url_for('ilan_detay', id=ad.id) }}">
                                                        {% if ad.img_1 %}
                                                            <img src="{{ ad.img_1 }}" width="700" height="500" alt="{{ ad.title }}" style="object-fit: cover; height: 285px;" />
                                                        {% else %}
                                                            <img src="upload/no-image-400x285.jpg" width="700" height="500" alt="No Image" style="object-fit: cover; height: 285px;" />
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background gdlr-core-js" data-sync-height="tour-item-15">
                                                    {% if ad.is_gold %}
                                                    <div class="tourmaster-thumbnail-ribbon gdlr-core-outer-frame-element" style="color: #ffffff;background-color: #f97150;">
                                                        <div class="tourmaster-thumbnail-ribbon-cornor" style="border-right-color: rgba(249, 113, 80, 0.5);"></div>Gold</div>
                                                    {% endif %}
                                                    <h3 class="tourmaster-tour-title gdlr-core-skin-title" style="font-size: 18px;font-weight: 800;letter-spacing: 0px;text-transform: none;">
                                                        <a href="{{ url_for('ilan_detay', id=ad.id) }}"><span>{{ ad.title }}</span></a>
                                                    </h3>
                                                    <div class="tourmaster-tour-price-wrap tourmaster-discount">
                                                        {% if ad.sale_price %}
                                                            <span class="tourmaster-tour-discount-price">{{ ad.sale_price|format_price }} ₺</span>
                                                        {% elif ad.rent_price %}
                                                            <span class="tourmaster-tour-discount-price">{{ ad.rent_price|format_price }} ₺ / {{ get_text('monthly') }}</span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="tourmaster-tour-info-wrap clearfix">
                                                        <div class="tourmaster-tour-info tourmaster-tour-info-duration-text ">
                                                            <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye">
                                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                                            </svg>{{ ad.view }} {{ get_text('views') }}
                                                </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 190px 0px 160px 0px;">
            <div class="gdlr-core-pbf-background-wrap">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(images/bgtravel2.jpg) ;background-size: cover ;background-position: bottom center ;" data-parallax-speed="0.2"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 25px ;">
                            <div class="gdlr-core-title-item-title-wrap">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 55px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #ffffff ;">{{ get_text('investment_needs') }}<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 34px ;">
                            <div class="gdlr-core-title-item-title-wrap">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 23px ;letter-spacing: 0px ;text-transform: none ;color: #ff7d5d ;">{{ get_text('contact_us') }}<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gdlr-core-pbf-wrapper " style="padding: 45px 0px 60px 0px;">
            <div class="gdlr-core-pbf-background-wrap">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" data-parallax-speed="0.05"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 0px ;">
                            <div class="gdlr-core-title-item-title-wrap">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 28px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;">{{ get_text('recommended_ads') }}<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" style="padding-bottom: 52px ;"><a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-button-no-border" href="{{ url_for('ilanlar') }}" style="font-size: 15px ;font-weight: 400 ;letter-spacing: 0px ;color: #e66836 ;padding: 8px 0px 0px 0px;"><span class="gdlr-core-content" >{{ get_text('view_all') }}</span><i class="gdlr-core-pos-right fa fa-long-arrow-right" style="font-size: 17px ;"  ></i></a></div>
                    </div>
                    <div class="gdlr-core-pbf-element">
                        <div class="tourmaster-tour-item clearfix  tourmaster-tour-item-style-grid tourmaster-item-pdlr tourmaster-tour-item-column-3">
                            <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type="carousel" data-column="3" data-nav="navigation-outer" data-nav-parent="tourmaster-tour-item" data-disable-autoslide="1">
                                <ul class="slides">
                                    {% for ad in recommended_ads %}
                                    <li class="gdlr-core-item-mglr">
                                        <div class="tourmaster-tour-grid  tourmaster-tour-frame tourmaster-tour-grid-style-2 tourmaster-price-right-title">
                                            <div class="tourmaster-tour-grid-inner" style="box-shadow: 0 0 23px rgba(10, 10, 10,0.08); -moz-box-shadow: 0 0 23px rgba(10, 10, 10,0.08); -webkit-box-shadow: 0 0 23px rgba(10, 10, 10,0.08); border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;">
                                                <div class="tourmaster-tour-thumbnail tourmaster-media-image tourmaster-zoom-on-hover">
                                                    <a href="{{ url_for('ilan_detay', id=ad.id) }}">
                                                        {% if ad.img_1 %}
                                                            <img src="{{ ad.img_1 }}" width="700" height="500" alt="{{ ad.title }}" style="object-fit: cover; height: 285px;" />
                                                        {% else %}
                                                            <img src="upload/no-image-400x285.jpg" width="700" height="500" alt="No Image" style="object-fit: cover; height: 285px;" />
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background gdlr-core-js" data-sync-height="tour-item-16">
                                                    {% if ad.is_gold %}
                                                    <div class="tourmaster-thumbnail-ribbon gdlr-core-outer-frame-element" style="color: #ffffff;background-color: #f97150;">
                                                        <div class="tourmaster-thumbnail-ribbon-cornor" style="border-right-color: rgba(249, 113, 80, 0.5);"></div>Gold</div>
                                                    {% endif %}
                                                    <h3 class="tourmaster-tour-title gdlr-core-skin-title" style="font-size: 18px;font-weight: 800;letter-spacing: 0px;text-transform: none;">
                                                        <a href="{{ url_for('ilan_detay', id=ad.id) }}"><span>{{ ad.title }}</span></a>
                                                    </h3>
                                                    <div class="tourmaster-tour-price-wrap tourmaster-discount">
                                                        {% if ad.sale_price %}
                                                            <span class="tourmaster-tour-discount-price">{{ ad.sale_price|format_price }} ₺</span>
                                                        {% elif ad.rent_price %}
                                                            <span class="tourmaster-tour-discount-price">{{ ad.rent_price|format_price }} ₺ / {{ get_text('monthly') }}</span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="tourmaster-tour-info-wrap clearfix">
                                                        <div class="tourmaster-tour-info tourmaster-tour-info-duration-text ">
                                                            <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye">
                                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                                            </svg>{{ ad.view }} {{ get_text('views') }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}   

{% block pagejs %}{% endblock %}